


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #515568;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
}

.logo{
    background-color: #632323;
    padding: 10px;
    border-radius: 10px;
    color: #d9d9d9;
}

.searchbar{
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#navbar *{
    background-color: #d9d9d9;
    padding: 10px ;
    border-radius: 10px;
    min-width: 80px;
    text-align: center;
}

#icons{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-right: 15px;
}

#icons *{
    justify-content: space-between;
}

#logo-searchbar{
    display: flex;
    background-color: #d9d9d9;
    align-items: row;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin:10px 0;
}

button{
    background-color: #282626;
    padding: 10px;
    border-radius: 5px;
    color: #f9f9f9;
    cursor: pointer;
}
h4{
    size: 0px;
}
img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
 }

 #leonardo{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
 }
#navbar{
    color: #fff;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.container{
    max-width: 400px;
    flex-grow: 1;
    padding: 10px;
    background-color: #d9d9d9;
    margin: 5px ;
}

.small-container{
    max-width: 150px;
    margin: 10px;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#tilbud{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px;
    flex-grow: 1;
    margin-bottom: 10px;
}

#produkt{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px;
    flex-grow: 1;
    margin-bottom: 10px;
}

@media screen and (min-width: 400px){
    .flex{
        flex-direction: row;
    }
    #tilbud{
        justify-content: space-between;
    }
}

#lenker{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 20px;
}

#lenker *{
    margin: 5px 0;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
}

#social-media{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 50px 20px;
}
main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#filter{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px 10px;
    background-color: #d9d9d9;
}

#filter *{
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: #632323;
    border-radius: 5px;
    color: #f0f0f0;
}
#brodsmulesti{
    margin: 10px 10px 10px;
    color: #000000;
}
